.vs/
*.lutconfig
LearnUnitTesting/src/Infrastructure/bin/
LearnUnitTesting/src/Infrastructure/obj/
LearnUnitTesting/tests/Infrastructure.Test/bin/
LearnUnitTesting/tests/Infrastructure.Test/obj/
Refactoring/bin/
Refactoring/obj/
RefactoringBenchmarks/bin/
RefactoringBenchmarks/obj/
